In [ ]:
# Reference:

# [1] "Story Discovery Using K-Means Clustering on News Articles", Seangtkelley.me, 2020. [Online]. Available: https://seangtkelley.me/blog/2018/01/03/news-article-clustering. [Accessed: 30- Jul- 2020].

# I have reffred following tutorial to build the model

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.cluster import KMeans
from nltk.tokenize import RegexpTokenizer
from nltk.stem.snowball import SnowballStemmer
from sklearn.cluster import KMeans
%matplotlib inline

In [2]:
data = pd.read_csv("title_dataset.csv",usecols =["title_text"])
data.head()

                                         title_text
0                                BAHIA COCOA REVIEW
1         STANDARD OIL <SRD> TO FORM FINANCIAL UNIT
2        TEXAS COMMERCE BANCSHARES <TCB> FILES PLAN
3      TALKING POINT/BANKAMERICA <BAC> EQUITY OFFER
4  NATIONAL AVERAGE PRICES FOR FARMER-OWNED RESERVE

In [3]:
data[data['title_text'].duplicated(keep=False)].sort_values('title_text').head()

                                              title_text
1948    Bundesbank says it leaves credit policies unc...
6989    Bundesbank says it leaves credit policies unc...
8100    Bundesbank sets 28-day securities repurchase ...
13258   Bundesbank sets 28-day securities repurchase ...
20476                             <ACC CORP> 3RD QTR NET
20193                             <ACC CORP> 3RD QTR NET
499     <FRANKLIN CALIFORNIA TAX-FREE INCOME FUND>PAYOUT
19061   <FRANKLIN CALIFORNIA TAX-FREE INCOME FUND>PAYOUT

In [4]:
data = data.drop_duplicates('title_text')

In [5]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

In [6]:
import nltk
import re

def token_stem(text,do_stem=True): # reffered [1]
    tokens = []
    
    for word in nltk.word_tokenize(sent):
        for sent in nltk.sent_tokenize(text):
            token.append(word.lower())
        
    filtered = []
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered.append(token)
            
    stems = [stemmer.stem(t) for x in filtered]
    
    if stems:
        return stems
    else:
        return filtered

In [7]:
vocab_stem = []
vocab_token = []
for x in data['title_text']:
    allwords = token_stem(i)
    vocab_stem.extend(allwords)
    allwords = token_stem(x, False)
    vocab_token.extend(allwords)

In [86]:
from sklearn.feature_extraction.text import TfidfVectorizer

vector = TfidfVectorizer(max_df=0.9, max_features=200000,
                                 min_df=0.1, stop_words=custom_stopwords,
                                 use_idf=True, tokenizer=token_stem, ngram_range=(1,3)) # reffered [1]

matrix = vector.fit_transform(data['title_text'])

/opt/conda/lib/python3.7/site-packages/sklearn/feature_extraction/text.py:386: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ["'d", "'m", 'abov', 'afterward', 'ai', 'alon', 'alreadi', 'alway', 'ani', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becaus', 'becom', 'befor', 'besid', 'ca', 'cri', 'dare', 'describ', 'did', 'doe', 'dure', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'forti', 'gon', 'got', 'henc', 'hereaft', 'herebi', 'howev', 'hundr', 'inde', 'let', 'll', 'mani', 'meanwhil', 'moreov', "n't", 'na', 'need', 'nobodi', 'noon', 'noth', 'nowher', 'ol', 'onc', 'onli', 'otherwis', 'ought', 'ourselv', 'perhap', 'pleas', 'sever', 'sha', 'sinc', 'sincer', 'sixti', 'somebodi', 'someon', 'someth', 'sometim', 'somewher', 'ta', 'themselv', 'thenc', 'thereaft', 'therebi', 'therefor', 'togeth', 'twelv', 'twenti', 've', 'veri', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev', 'whi', 'wo', 'yourselv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

(20029, 1)

In [87]:
type(data['title_text'])

pandas.core.series.Series

In [94]:
km = KMeans(n_clusters=10) # reffered [1]

km.fit(matrix)

/opt/conda/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:970: FutureWarning: 'precompute_distances' was deprecated in version 0.23 and will be removed in 0.25. It has no effect
  "effect", FutureWarning)
/opt/conda/lib/python3.7/site-packages/sklearn/cluster/_kmeans.py:974: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 0.25.
  " removed in 0.25.", FutureWarning)
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:10: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  # Remove the CWD from sys.path while we load stuff.

KMeans(init='random', max_iter=1000, n_clusters=10, n_init=30, n_jobs=1,
       precompute_distances='auto', random_state=10)

In [96]:
print("terms of cluster:")

order = km.cluster_centers_.argsort()[:, ::-1] 

for x in range(10): # reffered [1]
    print("%d word:" % x, end='')
    
    for i in order[i, :100]:
        print(' %s' % vocab_frame.loc[terms[i].split(' ')].values.tolist()[0][0], end=',')
        
    print("Cluster %d titles:" % i, end='')
    print(len(data[data['cluster'] == i]['title_text'].values.tolist()))

Top terms per cluster:

Cluster 0 words: qtr,

Cluster 0 titles:
17925


Cluster 1 words: qtr,

Cluster 1 titles:
2104


Cluster 2 words: qtr,

Cluster 2 titles:
0


Cluster 3 words: qtr,

Cluster 3 titles:
0


Cluster 4 words: qtr,

Cluster 4 titles:
0


Cluster 5 words: qtr,

Cluster 5 titles:
0


Cluster 6 words: qtr,

Cluster 6 titles:
0


Cluster 7 words: qtr,

Cluster 7 titles:
0


Cluster 8 words: qtr,

Cluster 8 titles:
0


Cluster 9 words: qtr,

Cluster 9 titles:
0

In [101]:
z = km.predict(matrix_test)

In [102]:
z[0]

1